/* General Body Styling */
/*ADMIN.CSS */
body {
    background-image: linear-gradient(to bottom right, rgba(65, 108, 111, 1), #d4af37);
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.sidebar img {
    margin-bottom: 20px;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #575757;
}

.content {
    margin-left: 250px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 250px);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .content {
        margin-left: 0;
        width: 100%;
    }
}

/* Centering the search box */
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Positioning admin profile to the top-right */
.admin-profile-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
}

/* Styling the admin profile dropdown */
.dropdown-menu {
    background-color: #343a40;
}
